[Unit]
Description=Discord Listener (rides-bot)
After=multi-user.target

[Service]
User=jmyers
Type=simple
Restart=always
Environment=PYTHONPATH=/var/www/jordanmyers.me/rides-bot/
ExecStart=/usr/bin/python3.11 /var/www/jordanmyers.me/rides-bot/rides_bot/discord_listener.py

[Install]
WantedBy=multi-user.target