[Unit]
Description=Telegram Listener (rides-bot)
After=multi-user.target

[Service]
User=jmyers
Type=simple
Restart=always
Environment=PYTHONPATH=/var/www/jordanmyers.me/rides-bot/
ExecStart=/usr/bin/python3 /var/www/jordanmyers.me/rides-bot/rides_bot/telegram_listener.py

[Install]
WantedBy=multi-user.target